* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-image: url('/img/campus.jpg');
    background-size: cover;        
    background-attachment: fixed;  
}


.wrapper {
    width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin: 70px auto;
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-box i {
    position: absolute;
    left: 10px;
    top: 35%;
    transform: translateY(-50%);
    color: #777;
}
h1 {
    margin-bottom: 15px; 
    font: 2.5em serif;
    color: rgb(176, 135, 12);
    border-bottom: 2px solid rgb(255, 191, 0);

}    

.btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}

.register-link {
    margin-top: 15px;
}

.register-link  {
    font-size: 12px;
    text-align: center;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.forgot {
    text-align: right; /* Aligns to the right */
    font-size: 12px; /* Makes text smaller */
    margin-top: 5px; /* Adds space above */
}

.forgot a {
    color: #007bff; /* Matches theme */
    text-decoration: none; /* Removes underline */
    font-weight: normal;
}

.forgot a:hover {
    text-decoration: underline; /* Only underline on hover */
}
